.portada{
  background-color: rgb(110, 112, 240,);
}

 .vh-10 {
  height: 10vh;
}

.vh-70 {
  height: 70vh;
}
.font-game {
  font-family: "Press Start 2P", cursive;
}

.aczcion {
  font-family: "Alfa Slab One", cursive;
}

.description{
  font-family: 'Orbitron', sans-serif;
}