
@media (max-width: 800px) {
    /* Para dispositivos móviles */
    .desktop-header , .desktop-proyects, .desktop-inicio, .desktop-skills {
        display: none;
    }
    
    .mobile-header, .mobile-inicio, .mobile-proyects, .mobile-skills{
        display: flex;
    }

    .desktop-inicio::before {
        display: none;
    }

    #referencias {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width: 800px) {
    /* Para dispositivos más grandes (escritorio) */
    .desktop-header , .desktop-proyects, .desktop-inicio, .desktop-skills {
        display: flex;
    }

    .desktop-inicio::before {
        display: flex;
    }
    
    .mobile-header, .mobile-inicio, .mobile-proyects, .mobile-skills{
        display: none;
    }

    #referencias {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* colores */


/* Tema claro por defecto */
:root {             
    --background-color: #e4ebf0;
    --background-color2: #bdd1de;
    --reverse-background: #000000;
    --text-color: #000000;
    --img: url("assets/undraw_random-thoughts_spw5.svg")
}
  
/* Tema oscuro */
[data-theme="dark"] {
    --background-color: #000000;
    --background-color2: #202020;
    --reverse-background: #fff;
    --text-color: #ffff;
}


/* fuetes */

.displayLarge-desktop {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 4rem;
}

.displayLarge {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 3rem;
}

.displayMedium{
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: -0.5px;
    font-style: normal;
    line-height: 1.5;
    font-size: 2.5rem;
}

.displaySmall {
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: -0.5px;
    font-style: normal;
    line-height: 1.5;
    font-size: 2rem;
}


.headlineLarge {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.7rem;
}
  
.headlineMedium {
    font-family: "Montserrat", serif;
    font-weight: 350;
    letter-spacing: -0.5px;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.45rem;
}


.titleLarge {
    font-family: "Montserrat", serif;
    font-weight: 350;
    letter-spacing: -0.5px;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.2rem;
}

.bodyLarge {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    font-size: 0.9rem;
}

.bodyMedium {
    font-family: "Montserrat", serif;
    font-weight: 350;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.4;
}




  
/* estilos a etiquetas */
html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color); 
    color: var(--text-color);
}

header {
    margin: 0;
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
}

hr {
    border: none; 
    border-top: 1px solid gray; 
    margin: 10px 0; 
}

i{
    background-color:var(--background-color);
    color: var(--reverse-background)
}

a {
    color: inherit; 
    text-decoration: none; 
    margin-left: 0.25rem;
}
  
  
a:hover i {
    color: #0077b5; /
}

/* estilos a secciones */

#inicio {
    height: calc(90vh - 60px);
    margin-top: 60px;

    display: flex;
}

#proyectos {
    padding: 0px 15px;
}

#langToggle {
    margin-right: 1rem;
    display: flex;
    align-items: center;   /* centra verticalmente */
    height: 100%;
}

.proyectos-header {
    margin-bottom: 50px;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto>p {
    text-align: center;
    margin: 0.5rem 0;
}

#referencias {
    margin: 0 1em;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.tecStack {
	font-style: italic;
}

.icons-container {
    margin: 1rem;
    align-content: center;
}


.icon {
    font-size: 1.5rem;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer;
    padding: 10px;
}



/* Estilos para móviles */

.mobile-header {
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px 0px 25px;
}

.mobile-inicio {
    position: relative;  
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.mobile-inicio > div {
    margin-top: auto;
}

.mobile-inicio::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("assets/undraw_deep-work_muov.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;

    opacity: 0.8; /* ajustá acá */
    pointer-events: none;
}

.mobile-inicio > * {
    position: relative;
    z-index: 1;
}


.mobile-proyects {
    flex-direction: column;
}

.mobile-proyects > .proyect-container {
    margin-bottom: 30px;
}

.mobile-skills {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    /* background-color: white; */
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    background-color: var(--background-color2);
    padding: 0.5rem 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

/* estilos para computadoras */

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    display: inline-flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.desktop-header {
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1rem 0.5rem 1rem;
}

.desktop-icon {
    font-size: 1.5rem;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer;
}


.desktop-inicio::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--img);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    opacity: 0.8; /* ajustá acá */
    pointer-events: none;
}

.desktop-inicio {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;

    align-items: flex-end;     /* ↓ abajo */
    justify-content: flex-start; /* ← izquierda */
}

.desktop-inicio > * {
    position: relative;
    z-index: 1;
}


.intro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 2;

    padding: 2rem 2.5rem; /* margen visual desde el borde */
    max-width: 60%;       /* opcional: evita que se estire demasiado */
}

.intro h1{
  margin-bottom: 2rem;
}
.intro p {
    margin: 0;
}


.get-in-touch {
    display: flex;
}

.accion-art {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.accion-art > p {
    text-align: center;
    padding: 0 1rem;
}

.desktop-proyects {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.desktop-proyect-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}


.desktop-proyect-container a {
    flex: 2;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.proyect-description {
    flex: 3; /* La descripción ocupa 3 partes del espacio */
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos (h3, p) se apilen verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
}

.proyect-description h3 {
    margin: 0; /* Elimina el margen superior/inferior */
    
}

.proyect-description p {
    margin: 5px  0; /* Añade un pequeño espacio encima del párrafo */
}

.title-container {
    display: flex; 
    flex: 1; 
    justify-content: center; 
    align-items: center; 
}

.desktop-skills .skills-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}







.list-component {
    border-left: 1px solid gray;
    list-style: none;
    margin-left: 10px;
    padding-top: 20px
}
/* https://www.computerhope.com/issues/ch001705.htm */
.list-component .__item {
    background: url(https://www.computerhope.com/issues/pictures/bullet.gif) no-repeat top left;
    background-position: top left;
    padding: 0 0 4px 60px;
    margin-left: 1em;
    position: relative;
    right: 67px;
    margin-bottom: 10px;
    top: 10px;
}

.card-component {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    max-width: 450px;
    font-family: Arial;
    position: relative;
    bottom: 20px;
    width: 100%;
}

.card-component .__year {}

.card-component .__title {
font-size: 1em;
}

.__subtitle {
    font-size: 0.8em;
}
.card-component .__text {
color: gray;
}

.tags>span {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin: 5px;
}

.tags{
    margin: 1em;
}
